In [1]:
# Import Dependecies
import pandas as pd

In [2]:
# Read CSV
budget_data = pd.read_csv("Resources/budget_data.csv")

In [3]:
# See Data
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

# The total number of months included in the dataset

In [4]:
# Find Months
total_months = len(budget_data["Date"])

# Print Total
print(f"There are {total_months} months included in the dataset.")

There are 86 months included in the dataset.

# The net total amount of Profit/Losses over the entire period

In [5]:
# Find Net Total
net_total = budget_data["Profit/Losses"].sum()

# Print Net Total
print(f"The net total amount of profit/losses over the entire period is ${net_total}.")

The net total amount of profit/losses over the entire period is $38382578.

# The average of the changes in Profit/Losses over the entire period

In [6]:
# Initialize AVerage Total
average_total = 0

# Initialize Count
count = 0 

# For Loop to Find Average of Changes
for x in range(len(budget_data) - 1):
    change = budget_data["Profit/Losses"][x + 1] - budget_data["Profit/Losses"][x]
    average_total += change
    count += 1

# Find Average Change
average_change = round(average_total / count, 2)

# Print Average Change
print(f"The average of the changes in profit/losses over the entire period was ${average_change} per month.")

The average of the changes in profit/losses over the entire period was $-2315.12 per month.

# The greatest increase in profits (date and amount) over the entire period

In [7]:
# Initialize Profit Increase
profit_increase = 0

# Find Increase in Profit & Month
for x in range(len(budget_data["Profit/Losses"]) - 1):
    if (budget_data["Profit/Losses"][x + 1] - budget_data["Profit/Losses"][x]) > profit_increase:
        profit_increase = (budget_data["Profit/Losses"][x + 1] - budget_data["Profit/Losses"][x])
        increase_month = budget_data["Date"][x + 1]

# Print Profit Increase
print(f"The greatest increase in profits was ${profit_increase}.")

# Print Month of Profit Increase
print(f"The month the greatest increase in profit occurred was {increase_month}.")

The greatest increase in profits was $1926159.
The month the greatest increase in profit occurred was Feb-2012.

# The greatest decrease in losses (date and amount) over the entire period

In [8]:
# Initialize Profit Decrease
profit_decrease = 0

# Find Decrease in Profit & Month
for x in range(len(budget_data["Profit/Losses"]) - 1):
    if (budget_data["Profit/Losses"][x + 1] - budget_data["Profit/Losses"][x]) < profit_decrease:
        profit_decrease = (budget_data["Profit/Losses"][x + 1] - budget_data["Profit/Losses"][x])
        decrease_month = budget_data["Date"][x + 1]

# Print Profit Decrease
print(f"The greatest decrease in profits was ${profit_decrease}.")

# Print Month of Profit Decrease
print(f"The month the greatest decrease in profit occurred was {decrease_month}.")

The greatest decrease in profits was $-2196167.
The month the greatest decrease in profit occurred was Sep-2013.

# Final Financial Analysis

In [9]:
print(f"""Financial Analysis
----------------------------
Total Months: {total_months}
Total: ${net_total}
Average Change: ${average_change}
Greatest Increase in Profits: {increase_month} (${profit_increase})
Greatest Decrease in Profits: {decrease_month} (${profit_decrease})
""")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

# Save to Text File

In [10]:
print(f"""Financial Analysis
----------------------------
Total Months: {total_months}
Total: ${net_total}
Average Change: ${average_change}
Greatest Increase in Profits: {increase_month} (${profit_increase})
Greatest Decrease in Profits: {decrease_month} (${profit_decrease})
""", file=open("PyBank_output.txt", "a"))